<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countries</title>
    <link rel="stylesheet" href="/css/flag-icons.min.css">
</head>
<body>
	<nav>
        <a href="/">Home</a> |
        <a href="/countries">Countries</a> |
        <a href="/fuel-types">Fuel Types</a> |
        <a href="/power-capacities">Power Capacities</a>
    </nav>
    <h1>Countries</h1>    <ul>
        %%countries%%
    </ul>
</body>
</html>
