<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%title%%</title>
    <link rel="icon" href="/images/powerplant.png" type="image/png">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/flag-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/countries">Countries</a> |
        <a href="/fuel-types">Fuel Types</a> |
        <a href="/power-capacities">Power Capacities</a> |
        <a href="/visualizations">Visualizations</a>
    </nav>
    <div class="container">
        <h1>%%title%%</h1>
        
        <h2>Top 15 Countries by Power Plant Count</h2>
        <div class="chart-container" style="position: relative; height:60vh; width:80vw; margin: auto; margin-bottom: 50px;">
            <canvas id="countries-chart"></canvas>
        </div>
        
        <h2>Power Plants by Fuel Type</h2>
        <div class="chart-container" style="position: relative; height:60vh; width:80vw; margin: auto;">
            <canvas id="fuel-types-chart"></canvas>
        </div>
        
        %%countries-chart-script%%
        %%fuel-types-chart-script%%
    </div>
</body>
</html>
